  <nb-card size="small" class="border-default">
    <nb-card-header>
      GITHUB Calendar
      <div [ngClass]="data.result[2].validation"><span class="icon validation"></span></div>
    </nb-card-header>
    <nb-card-body style="text-align: center; overflow: hidden;">
        <div id="git-cal-1" align="center" style="padding:0px;" height="500" [innerHTML]="githubCalendar | safe: 'html'"></div>
        <!-- <div id="git-cal-2" align="center" style="padding:0px;" height="500" [innerHTML]="githubCalendarPrev | safe: 'html'"></div> -->
    </nb-card-body>
  </nb-card>
