<div class="row" id="pageGather" #pageGather >
<!-- <div class="row" id="pageGather" #pageGather [nbSpinner]="processing" nbSpinnerStatus="info" nbSpinnerSize="xxlarge"> -->

  <div class="col-md-12" *ngIf="gathered && gathered['email'] && jsonLength(gathered) > 3">
    <nb-card>
      <nb-card-body>
    
        <nb-actions size="large" fullWidth [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxsmall" nbSpinnerMessage="">
          <nb-action (click)="searchService.activateSearch()" nbTooltip="Search information" nbTooltipPlacement="top" nbTooltipStatus="default" >
            <i class="fas fa-search" style="font-size: 14px;"></i><span>Search</span>
          </nb-action>
          <nb-action (click)="generateAllPdf()" nbTooltip="Generate report" nbTooltipPlacement="top" nbTooltipStatus="default">
            <i class="fas fa-file-alt" style="font-size: 14px;"></i><span>Report</span>
          </nb-action>
          <nb-action (click)="generateDownloadJsonUri()" nbTooltip="Download raw JSON" nbTooltipPlacement="top" nbTooltipStatus="default">
            <i class="fas fa-download" style="font-size: 14px;"></i><span>Json</span>
          </nb-action>

          <nb-action>
            <div>Validation : </div>
            <div class="validation-menu" (click)="validationShow['hard'] = !validationShow['hard']"><span  nbTooltip="Hard validation" nbTooltipPlacement="bottom" nbTooltipStatus="success"class="icon validation-hard" (click)="onH = !onH" [style.color]="!onH ? '#004d1a' : 'green'"></span></div>
            <div class="validation-menu" (click)="validationShow['soft'] = !validationShow['soft']"><span nbTooltip="Soft validation" nbTooltipPlacement="top" nbTooltipStatus="warning" class="icon validation-soft" (click)="onS = !onS" [style.color]="!onS ? '#4d3d00' : '#ffcc00'"></span></div>
            <div class="validation-menu" (click)="validationShow['no'] = !validationShow['no']"><span nbTooltip="No validation" nbTooltipPlacement="bottom" nbTooltipStatus="danger" class="icon validation-no" (click)="onN = !onN" [style.color]="!onN ? '#4d0000' : '#cc0000'"></span></div>
          </nb-action>

        </nb-actions>
    
      </nb-card-body>
    </nb-card>
  </div>

  <!-- Principal Search -->
  <div class="col-md-12" *ngIf="!email && !gathered['tasklist']">
    <nb-card>
      <nb-card-body>
        <button nbButton outline status="success" (click)="searchService.activateSearch()">
            <i style="font-size: 25px;" class="nb-search"></i>
        </button>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-4 offset-md-4"  *ngIf="!email && !gathered['tasklist']">
    <nb-card size="medium" class="border-default" id="centralInfo">
      <nb-card-body>
        <div>
            <img style="position:absolute; width: 50%; top: 0; left:0; right: 0; bottom: 0;  margin:auto;" src="assets/images/iKy-Logo.png"> 
        </div>

      </nb-card-body>
      <nb-card-footer>
        <div class="details">
          <div class="title">
            Gathering information
          </div>
          <div class="description">
              To collect information it is necessary to enter an e-mail address in the search window that can be activated from the magnifying glass present in the button above, below or from the magnifying glass located in the upper right corner.
          </div>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>

  <div class="col-md-12" *ngIf="!email && !gathered['tasklist']">
    <nb-card>
      <nb-card-body>
        <button nbButton outline status="success" (click)="searchService.activateSearch()">
            <i style="font-size: 25px;" class="nb-search"></i>
        </button>
      </nb-card-body>
    </nb-card>
  </div>

  <!-- Fullcontact Graphs -->
  <div id="divFullcontactGraphs" #divFullcontactGraphs class="col-md-4" *ngIf="gathered['fullcontact'] && gathered['fullcontact'].result && validationShow[gathered['fullcontact'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="info" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
    <ngx-fullcontact-graphs [data]="gathered['fullcontact']"></ngx-fullcontact-graphs>
  </div>

  <!-- Fullcontact Cloud 
  <div class="col-md-4" *ngIf="gathered['fullcontact'] && 
                               gathered['fullcontact'].result[4]">
    <ngx-fullcontact-cloud [data]="gathered['fullcontact']"></ngx-fullcontact-cloud>
  </div>
  -->

  <!-- Fullcontact Scramble -->
  <div class="col-md-4" *ngIf="gathered['fullcontact'] && gathered['fullcontact'].result[4] && gathered['fullcontact'].result[4]['graphic'][1] && validationShow[gathered['fullcontact'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="info" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
    <ngx-fullcontact-scramble [data]="gathered['fullcontact']"></ngx-fullcontact-scramble>
  </div>

  <!-- Twitter List -->
  <div class="col-md-4" id="divTwitterList" #divTwitterList *ngIf="gathered['twitter'] &&
                               gathered['twitter'].result[4] && validationShow[gathered['twitter'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="info" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
    <ngx-twitter-list [data]="gathered['twitter']"></ngx-twitter-list>
  </div>

  <!-- Twitter Popularity -->
  <div class="col-md-4" id="divTwitterPopularity" #divTwitterPopularity *ngIf="gathered['twitter'] &&
                               gathered['twitter'].result[4] && validationShow[gathered['twitter'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="info" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
    <ngx-twitter-popularity [data]="gathered['twitter']"></ngx-twitter-popularity>
  </div>

  <!-- Twitter Resume -->
  <div class="col-md-4" id="divTwitterResume" #divTwitterResume *ngIf="gathered['twitter'] && 
                               gathered['twitter'].result[4] && validationShow[gathered['twitter'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="info" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
    <ngx-twitter-resume [data]="gathered['twitter']"></ngx-twitter-resume>
  </div>

  <!-- Twitter Approval -->
  <div class="col-md-4" id="divTwitterApproval" #divTwitterApproval *ngIf="gathered['twitter'] && 
                               gathered['twitter'].result[4] && validationShow[gathered['twitter'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="info" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
    <ngx-twitter-approval [data]="gathered['twitter']"></ngx-twitter-approval>
  </div>

  <!-- Twitter Hashtag -->
  <div class="col-md-4" id="divTwitterHashtag" #divTwitterHashtag *ngIf="gathered['twitter'] && 
                               gathered['twitter'].result[4] && validationShow[gathered['twitter'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="info" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
    <ngx-twitter-hashtag [data]="gathered['twitter']"></ngx-twitter-hashtag>
  </div>

  <!-- Twitter Users -->
  <div class="col-md-4" id="divTwitterUsers" #divTwitterUsers *ngIf="gathered['twitter'] && 
                               gathered['twitter'].result[4] && validationShow[gathered['twitter'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="info" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
    <ngx-twitter-users [data]="gathered['twitter']"></ngx-twitter-users>
  </div>

  <!-- Github Graphs -->
  <div id="divGithubGraphs" id="divGithubGraphs" #divGithubGraphs class="col-md-4" *ngIf="gathered['github'] && 
                               gathered['github'].result[4] && validationShow[gathered['github'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="info" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
    <ngx-github-graphs [data]="gathered['github']"></ngx-github-graphs>
  </div>

  <!-- Github Calendar -->
  <div class="col-md-8" id="divGithubCalendar" #divGithubCalendar *ngIf="gathered['github'] && 
                               gathered['github'].result[4] && validationShow[gathered['github'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="info" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
    <ngx-github-calendar [data]="gathered['github']"></ngx-github-calendar>
  </div>

  <!-- Linkedin Graphs -->
  <div class="col-md-4" id="divLinkedinGraphs" #divLinkedinGraphs *ngIf="gathered['linkedin'] && 
                               gathered['linkedin'].result[4] && validationShow[gathered['linkedin'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="info" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
    <ngx-linkedin-graphs [data]="gathered['linkedin']"></ngx-linkedin-graphs>
  </div>

  <!-- Linkedin Bubble -->
  <div class="col-md-4" id="divLinkedinBubble" #divLinkedinBubble *ngIf="gathered['linkedin'] && 
                               gathered['linkedin'].result[4] && validationShow[gathered['linkedin'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="info" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
    <ngx-linkedin-bubble [data]="gathered['linkedin']"></ngx-linkedin-bubble>
  </div>

  <!-- Linkedin Certs -->
  <div class="col-md-4" id="divLinkedinCerts" #divLinkedinCerts *ngIf="gathered['linkedin'] && 
                               gathered['linkedin'].result[4] && validationShow[gathered['linkedin'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="info" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
    <ngx-linkedin-certs [data]="gathered['linkedin']"></ngx-linkedin-certs>
  </div>

  <!-- Keybase Devices -->
  <div class="col-md-4" id="divKeybaseDevices" #divKeybaseDevices *ngIf="gathered['keybase'] && 
                               gathered['keybase'].result[4] && validationShow[gathered['keybase'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="info" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
    <ngx-keybase-devices [data]="gathered['keybase']"></ngx-keybase-devices>
  </div>

  <!-- Keybase Social -->
  <div class="col-md-4" id="divKeybaseSocial" #divKeybaseSocial *ngIf="gathered['keybase'] && 
                               gathered['keybase'].result[4] && validationShow[gathered['keybase'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="info" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
    <ngx-keybase-social [data]="gathered['keybase']"></ngx-keybase-social>
  </div>

  <!-- Leaks -->
  <div class="col-md-4" id="divLeakSocial" #divLeakSocial *ngIf="gathered['leaks'] && 
                               gathered['leaks'].result[4] && validationShow[gathered['leaks'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="info" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
    <ngx-leak-graphs [data]="gathered['leaks']"></ngx-leak-graphs>
  </div>

  <div class="col-md-12" *ngIf="gathered && gathered['email'] && jsonLength(gathered) > 3">
    <nb-card>
      <nb-card-body>
    
        <nb-actions size="large" fullWidth [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxsmall" nbSpinnerMessage="">
          <nb-action (click)="searchService.activateSearch()">
            <i class="fas fa-search" style="font-size: 14px;"></i><span>Search</span>
          </nb-action>
          <nb-action (click)="generateAllPdf()">
            <i class="fas fa-file-alt" style="font-size: 14px;"></i><span>Report</span>
          </nb-action>
          <nb-action (click)="generateDownloadJsonUri()">
            <i class="fas fa-download" style="font-size: 14px;"></i><span>Json</span>
          </nb-action>

          <nb-action>
            <div>Validation : </div>
            <div class="validation-menu" (click)="validationShow['hard'] = !validationShow['hard']"><span class="icon validation-hard" (click)="onH = !onH" [style.color]="!onH ? '#004d1a' : 'green'"></span></div>
            <div class="validation-menu" (click)="validationShow['soft'] = !validationShow['soft']"><span class="icon validation-soft" (click)="onS = !onS" [style.color]="!onS ? '#4d3d00' : '#ffcc00'"></span></div>
            <div class="validation-menu" (click)="validationShow['no'] = !validationShow['no']"><span class="icon validation-no" (click)="onN = !onN" [style.color]="!onN ? '#4d0000' : '#cc0000'"></span></div>
          </nb-action>

        </nb-actions>
    
      </nb-card-body>
    </nb-card>
  </div>

</div>
