<!-- <ngx-logo-iky></ngx-logo-iky> -->

<div class="row">

  <div class="col-md-4">

    <nb-card (click)="openDialog(dialogDisclaimer)" style="cursor: pointer;">
      <nb-card-body style="height: 3.75rem; padding: 1.25rem; font-family: Exo; font-size: 1.125rem; font-weight: 400;">
        Disclaimer (You must read this)
      </nb-card-body>
    </nb-card>

    <!-- Modules -->  
    <nb-accordion multi>
      <nb-accordion-item #item>
        <nb-accordion-item-header>
          Modules Implemented
        </nb-accordion-item-header>
        <nb-accordion-item-body>

          <div class="contact">
            <div>
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x" style="color: #333;"></i> 
              </span>
            </div>
            <div class="info-container">
              <div class="user-name ng-star-inserted">Twitter</div> 
              <div class="user-title ng-star-inserted">
                Module that analize Tweet, Retweets, Followers, Following, Likes, List, Hashtags and Mentions in timeline, treemap, donuts, text scramble and graphs
              </div>
            </div>
          </div>

          <div class="contact">
            <div>
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin fa-stack-1x" style="color: #333;"></i> 
              </span>
            </div>
            <div class="info-container">
              <div class="user-name ng-star-inserted">Linkedin</div> 
              <div class="user-title ng-star-inserted">
                Module that analize general info, Followers, Occupation, Skills, etc, in bubble graphs and graphs  
              </div>
            </div>
          </div>

          <div class="contact">
            <div>
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fa-stack-1x" style="color: #333;">F</i>
              </span>
            </div>
            <div class="info-container">
              <div class="user-name ng-star-inserted">Fullcontact</div> 
              <div class="user-title ng-star-inserted">
                Module that get info from email
              </div>
            </div>
          </div>

          <div class="contact">
            <div>
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x" style="color: #333;"></i> 
              </span>
            </div>
            <div class="info-container">
              <div class="user-name ng-star-inserted">Github</div> 
              <div class="user-title ng-star-inserted">
                Module that get general info, repos, followers, contribution and present in calendar and graphs
              </div>
            </div>
          </div>

          <div class="contact">
            <div>
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-keybase fa-stack-1x" style="color: #333;"></i> 
              </span>
            </div>
            <div class="info-container">
              <div class="user-name ng-star-inserted">Keybase</div> 
              <div class="user-title ng-star-inserted">
                Module that get general info, RRSS and devices and show in graphs
              </div>
            </div>
          </div>

          <div class="contact">
            <div>
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fa-stack-1x" style="color: #333;font-size: 1rem">HIBP</i>
              </span>
            </div>
            <div class="info-container">
              <div class="user-name ng-star-inserted">Have I Been Pwned</div> 
              <div class="user-title ng-star-inserted">
                  Module that get leaks from email <strong>(Sometimes it requires VPN by blocking)</strong>
              </div>
            </div>
          </div>

          <div class="contact">
            <div>
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-gitlab fa-stack-1x" style="color: #333;"></i> 
              </span>
            </div>
            <div class="info-container">
              <div class="user-name ng-star-inserted">Gitlab</div> 
              <div class="user-title ng-star-inserted">
                  Module that get general info, repos, followers and present in graphs <strong>(It is not finished yet)</strong>
              </div>
            </div>
          </div>

          <div class="contact">
            <div>
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fa-stack-1x" style="color: #333;">GP</i>
                <!-- <i class="fas pf-char fa-fw" data-char-content="F"></i> -->
              </span>
            </div>
            <div class="info-container">
              <div class="user-name ng-star-inserted">GhostProject</div> 
              <div class="user-title ng-star-inserted">
                  Module that obtains the leaked passwords of an email <strong>(Currently it does not work, but we are looking for replacement)</strong>
              </div>
            </div>
          </div>

        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>

    <!-- Credits -->
    <div style="height: 20px;"></div>
    <nb-accordion multi>
      <nb-accordion-item>
        <nb-accordion-item-header>
          Contributors
        </nb-accordion-item-header>
        <nb-accordion-item-body>

          <div class="contact">
            <div class="info-container">
              <div class="user-name ng-star-inserted">KennBro</div> 
              <div class="user-title ng-star-inserted">
                  Analysis, design, code and revision <br>
              </div>
              <div style="font-size: 0.7rem; margin-top: 5px;">
                  <a href="https://www.twitter.com/kennbroorg">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-twitter fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
                  <a href="https://www.gitlab.com/kennbro">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-gitlab fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
                  <a href="https://www.github.com/kennbro">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-github fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
                  <a href="https://www.instagram.com/kennbroorg">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-instagram fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
                  <a href="https://www.vimeo.com/user85580359">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-vimeo fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
                  <a href="mailto:kennbro@protonmail.com">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fas fa-envelope fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
              </div>
            </div>
          </div>

          <div class="contact">
            <div class="info-container">
              <div class="user-name ng-star-inserted">Sebastián Leonardo Kennedy</div> 
              <div class="user-title ng-star-inserted">
                  Code, review and vagrant<br>
              </div>
              <div style="font-size: 0.7rem; margin-top: 5px;">
                  <a href="https://www.twitter.com/emips_sk">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-twitter fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
                  <a href="https://www.gitlab.com/skennedy">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-gitlab fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
              </div>
            </div>
          </div>

          <div class="contact">
            <div class="info-container">
              <div class="user-name ng-star-inserted">Juan Diego Ianelli</div> 
              <div class="user-title ng-star-inserted">
                  Review, translate and corrections<br>
              </div>
              <div style="font-size: 0.7rem; margin-top: 5px;">
                  <a href="https://www.gitlab.com/jiannelli">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-gitlab fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
              </div>
            </div>
          </div>

          <div class="contact">
            <div class="info-container">
              <div class="user-name ng-star-inserted">Sebastián Ariel Bevacqua</div> 
              <div class="user-title ng-star-inserted">
                  Code (Ghostproject module), upgrade dependencies <br>
              </div>
              <div style="font-size: 0.7rem; margin-top: 5px;">
                  <a href="https://www.twitter.com/sebabeva">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-twitter fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
                  <a href="https://www.gitlab.com/sebabeva">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-gitlab fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
                  <a href="https://www.linkedin.com/sebabeva">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-linkedin fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
              </div>
            </div>
          </div>

          <div class="contact">
            <div class="info-container">
              <div class="user-name ng-star-inserted">Marcos Miguel García</div> 
              <div class="user-title ng-star-inserted">
                  Docker <br>
              </div>
              <div style="font-size: 0.7rem; margin-top: 5px;">
                  <a href="https://www.twitter.com/artsweb">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-twitter fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
                  <a href="https://www.gitlab.com/marcositu">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-gitlab fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
                  <a href="https://www.linkedin.com/marcosmiguelgarcia">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-linkedin fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
                  <a href="https://www.artssec.com">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fas fa-link fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
              </div>
            </div>
          </div>

        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>

    <!-- Projects -->
    <div style="height: 20px;"></div>
    <nb-accordion multi>
      <nb-accordion-item>
        <nb-accordion-item-header>
          Projects
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            Projects that we read, reviewed, used and inspired us <br>&nbsp;

          <div class="contact">
            <div class="info-container">
              <div class="user-name ng-star-inserted">Datasploit</div> 
              <div class="user-title ng-star-inserted">
                  A tool to perform various OSINT techniques, aggregate all the raw data, visualise it on a dashboard, and facilitate alerting and monitoring on the data<br>
              </div>
            </div>
            <div style="font-size: 0.7rem; margin-left: auto;">
                <a href="https://www.github.com/dvopsway/datasploit">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x" style="color: #333;"></i> 
                  </span>
                </a>
            </div>
          </div>

          <div class="contact">
            <div class="info-container">
              <div class="user-name ng-star-inserted">Nebular</div> 
              <div class="user-title ng-star-inserted">
                  Customizable UI Kit, Auth & Security <br>
              </div>
            </div>
            <div style="font-size: 0.7rem; margin-left: auto;">
                <a href="https://akveo.github.io/nebular/">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-link fa-stack-1x" style="color: #333;"></i> 
                  </span>
                </a>
            </div>
          </div>

          <div class="contact">
            <div class="info-container">
              <div class="user-name ng-star-inserted">tinfoleak</div> 
              <div class="user-title ng-star-inserted">
                  The most complete open-source tool for Twitter intelligence analysis <br>
              </div>
            </div>
            <div style="font-size: 0.7rem; margin-left: auto;">
                <a href="https://www.github.com/vaguileradiaz/tinfoleak">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x" style="color: #333;"></i> 
                  </span>
                </a>
            </div>
          </div>

          <div class="contact">
            <div class="info-container">
              <div class="user-name ng-star-inserted">Have I Been Pwned</div> 
              <div class="user-title ng-star-inserted">
                  Allows you to search across multiple data breaches to see if your email address has been compromised
                  <br>
              </div>
            </div>
            <div style="font-size: 0.7rem; margin-left: auto;">
                <a href="https://haveibeenpwned.com/">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-link fa-stack-1x" style="color: #333;"></i> 
                  </span>
                </a>
            </div>
          </div>

          <div class="contact">
            <div class="info-container">
              <div class="user-name ng-star-inserted">Kitploit</div> 
              <div class="user-title ng-star-inserted">
                  Hacking and Pentest Tools for your Security Arsenal
                  <br>
              </div>
            </div>
            <div style="font-size: 0.7rem; margin-left: auto;">
                <a href="https://www.kitploit.com/">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-link fa-stack-1x" style="color: #333;"></i> 
                  </span>
                </a>
            </div>
          </div>

        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>

    <!-- People -->
    <div style="height: 20px;"></div>
    <nb-accordion multi>
      <nb-accordion-item>
        <nb-accordion-item-header>
          People
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            People that we follow in the OSINT world <br>&nbsp;

          <div class="contact">
            <div class="info-container">
              <div class="user-name ng-star-inserted">Michael Bazzell</div> 
              <div class="user-title ng-star-inserted">
                  OSINT Pioneer 
                  <br>
              </div>
              <div style="font-size: 0.7rem; margin-top: 5px;">
                  <a href="https://www.twitter.com/inteltechniques">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-twitter fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
              </div>
            </div>
          </div>

          <div class="contact">
            <div class="info-container">
              <div class="user-name ng-star-inserted">Jake Creps</div> 
              <div class="user-title ng-star-inserted">
                  OSINT Practitioner. Writing about OSINT tools ans tactics. Collaborating with devs to build and improve OSINT
                  <br>
              </div>
              <div style="font-size: 0.7rem; margin-top: 5px;">
                  <a href="https://www.twitter.com/jakecreps">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-twitter fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
              </div>
            </div>
          </div>

        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>

    <!-- Friends -->
    <div style="height: 20px;"></div>
    <nb-accordion multi>
      <nb-accordion-item>
        <nb-accordion-item-header>
          Friends
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            Friends who encouraged us <br>&nbsp;

          <div class="contact">
            <div class="info-container">
              <div class="user-name ng-star-inserted">Giba</div> 
              <div class="user-title ng-star-inserted">
                  One of the founders of ekoparty security conference
                  <br>
              </div>
              <div style="font-size: 0.7rem; margin-top: 5px;">
                  <a href="https://www.twitter.com/jpdborgna">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-twitter fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
                  <a href="https://www.instagram.com/jpdborgna">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-instagram fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
              </div>
            </div>
          </div>

          <div class="contact">
            <div class="info-container">
              <div class="user-name ng-star-inserted">Carlos Seisdedos</div> 
              <div class="user-title ng-star-inserted">
                  Cybersecurity researcher. OSINT. 
                  <br>
              </div>
              <div style="font-size: 0.7rem; margin-top: 5px;">
                  <a href="https://www.twitter.com/CarloSeisdedos">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-twitter fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
              </div>
            </div>
          </div>

          <div class="contact">
            <div class="info-container">
              <div class="user-name ng-star-inserted">Emiliano Piscitelli</div> 
              <div class="user-title ng-star-inserted">
                  Co-founder & CEO de VHGroup, Director del @GrupoIngSocial, Miembro fundador del @OSINTLatamGroup ...
                  <br>
              </div>
              <div style="font-size: 0.7rem; margin-top: 5px;">
                  <a href="https://www.twitter.com/emilianox">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-twitter fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
              </div>
            </div>
          </div>

          <div class="contact">
            <div class="info-container">
              <div class="user-name ng-star-inserted">Carlos Loyo</div> 
              <div class="user-title ng-star-inserted">
                  Apasionado del Análisis Forense & OSINT
                  <br>
              </div>
              <div style="font-size: 0.7rem; margin-top: 5px;">
                  <a href="https://www.twitter.com/carlosloyo23">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-twitter fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
              </div>
            </div>
          </div>

          <div class="contact">
            <div class="info-container">
              <div class="user-name ng-star-inserted">Maximiliano Macedo</div> 
              <div class="user-title ng-star-inserted">
                  Analista de Informática Aplicada. Socio de AsegurarTe - Seguridad de la información. Docente, Emprendedor.
                  <br>
                  <strong>(Validations and filters were his idea)</strong>
              </div>
              <div style="font-size: 0.7rem; margin-top: 5px;">
                  <a href="https://www.twitter.com/Ydea2">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-twitter fa-stack-1x" style="color: #333;"></i> 
                    </span>
                  </a>
              </div>
            </div>
          </div>

        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>

  </div>

  <!-- Logo -->
  <div class="col-md-4">
    <nb-card size="large" class="border-default" id="imagePrincipal">
      <nb-card-body style="text-align: center;"> 
        <div style="height: 100%; vertical-align: middle;">
          <img style="position:absolute; top:0; bottom:0; left:0; right: 0; margin:auto;" src="assets/images/iKy-Logo.png">
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-4">
    <nb-card size="small" class="border-default">
      <nb-card-body style="overflow: hidden; margin: 0px; padding: 0px;"> 
        <div #nbCardGitlabCode id="nbCardGitlabCode" style="overflow: hidden; margin: 0px; padding: 0px;">
          <ngx-charts-pie-chart
            [view]="[width, height]"
            [doughnut]="false"
            [scheme]="colorScheme"
            [results]="gitlabCode"
            [labels]="true">
          </ngx-charts-pie-chart>
        </div>
        <!-- <iframe src="https://player.vimeo.com/video/326114716" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
      </nb-card-body>
    </nb-card>

    <!--
    <nb-card size="xsmall" class="border-default">
      <nb-card-body style="text-align: center;"> 
        <iframe src="https://player.vimeo.com/video/326114716" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </nb-card-body>
    </nb-card>
    -->
  </div>

</div>

<ng-template #dialogDisclaimer let-data let-ref="dialogRef">
    <nb-card style="height: 600px; width: 700px; background-color: rgba(0, 0, 0, 0.8); padding: 0px;">
      <nb-card-header>DISCLAIMER</nb-card-header>
      <nb-card-body style="overflow: hidden; padding: 0px;">
          <div style="padding: 1.25rem; text-align: justify; font-family: Exo; font-size: 1.125rem; font-weight: 400;">
Anyone who contributes or contributed to the project, including me, is not responsible for the use of the tool (Neither the legal use nor the illegal use, nor the "other" use).
          </div>

          <div style="padding: 1.25rem; padding-top:0px; text-align: justify; font-family: Exo; font-size: 1.125rem; font-weight: 400;">
Keep in mind that this software was initially written for a joke, then for educational purposes (to educate ourselves), and now the goal is to collaborate with the community making quality free software, and while the quality is not excellent (sometimes it's not even good) we strive to pursue excellence.
          </div>

          <div style="padding: 1.25rem; padding-top:0px; text-align: justify; font-family: Exo; font-size: 1.125rem; font-weight: 400;">
Consider that all the information collected is free and available online, the tool only tries to discover, collect and display it.
Many times the tool cannot even achieve its goal of discovery and collection. Please load the necessary APIs before remembering my mother.
If even with the APIs it doesn't show "nice" things that you expect to see, try other e-mails before you remember my mother.
If you still do not see the "nice" things you expect to see, you can create an issue, contact us by e-mail or by any of the RRSS, but keep in mind that my mother is neither the creator nor contribute to the project.
          </div>

          <div style="padding: 1.25rem; padding-top:0px; text-align: justify; font-family: Exo; font-size: 1.125rem; font-weight: 400;">
We won't refund you money if you are not satisfied.
I hope you enjoy using the tool as much as we enjoyed creating it. The effort was and is enormous (time, knowledge, coding, tests, reviews, etc.) but we would do it all again.
          </div>

          <div style="padding: 1.25rem; padding-top:0px; text-align: justify; font-family: Exo; font-size: 1.125rem; font-weight: 400;">
Do not use the tool if you cannot read the instructions and / or this disclaimer clearly.
          </div>

          <div style="padding: 1.25rem; padding-top:0px; text-align: justify; font-family: Exo; font-size: 1.125rem; font-weight: 400;">
By the way, for those who insist on remembering my mother, she died many years ago but I love her as if she were right here.
          </div>
          <div style="padding: 1.25rem; padding-top:0px; text-align: justify; font-family: Exo; font-size: 1.125rem; font-weight: 400;">
KennBro
          </div>
      </nb-card-body>
    </nb-card>
</ng-template>
